{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mt-5">
            <h1>Tutoring app</h1>
            <p>Collaboration white board and chat to help me with private lessons. Soon will add voice chat and pasting images.
                There is also integration with facebook api to send me reminders from my fanpage to my private facebook account. </p>
            <h1>Stack used:</h1>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item">Django</li>
                <li class="list-group-item">Django Channels</li>
              <li class="list-group-item">WebSockets</li>
              <li class="list-group-item">Redis</li>
                <li class="list-group-item">PostgreSQL</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">Bootstrap</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}