{% extends 'base.html' %}
{% block title %}{{ object.first_name }} {{ object.last_name }} info{% endblock %}
{% block content %}
<div class="container-fluid">

    <h1 class="mt-3">Lessons</h1>
    <div class="row mt-3">
            {% for day, lessons in lessons_in_day.items %}
                <div class="col">
                    <table class="table table-bordered table-hover bg-calendar">
                        <thead>
                    <tr>
                      <th scope="col">{{day}}</th>
                    </tr>
                  </thead>
                        <tbody>
                            {% for lesson in lessons %}
                            <tr>
                                <td>
                                    <p>{{ lesson.get_lesson_start_and_end_time }}</p>
                                    <p><a href="{{lesson.get_absolute_url}}">{{ lesson.subject }}</a></p>
                                    <p><a href="{{lesson.student.get_absolute_url}}">{{ lesson.student }}</a></p>
                                </td>
                            </tr>
                            {% empty %}
                                <tr>
                                <td>
                                    <p>No lessons</p>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}