{% extends 'base.html' %}
{% block title %}Add new student{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h1>Incoming lessons</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for lesson in incoming_lessons_today_and_tomorrow %}
                        <li class="list-group-item">{{ lesson }} <a href="{{ lesson.get_absolute_url }}">Show</a></li>
                    {% empty %}
                        <li class="list-group-item">No lessons yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
                <div class="card-header">
                    <h1>Missing Payments</h1>
                </div>
                <div class="card-body">
                    <div class="list-group">
                    {% for student in students_missing_payments %}
                        <a href="{{ student.id }}" class="list-group-item list-group-item-action list-group-item-danger">{{ student.first_name }} {{ student.last_name }} <b>Payment due: {{ student.missing_payment }} zł</b></a>
                    {% empty %}
                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Everything paid :)</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}