{% extends 'base.html' %}
{% block title %}Add new student{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h1>Incoming lessons</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    {% for lesson in incoming_lessons_today_and_tomorrow %}
                        <td>{{ lesson }}</td>
                        <td><a href="{{ lesson.get_absolute_url }}">Show</a></td>
                    {% empty %}
                        <td>No lessons yet.</td>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
                <div class="card-header">
                    <h1>Missing Payments</h1>
                </div>
                <div class="card-body">
                    <div class="list-group">
                    {% for student in students_missing_payments %}
                        <a href="{% url 'student-detail' student.id %}" class="list-group-item list-group-item-action list-group-item-danger">{{ student.first_name }} {{ student.last_name }} <b>Payment due: {{ student.missing_payment }} zł</b></a>
                    {% empty %}
                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Everything paid :)</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h1>Money weekly</h1>
                </div>
                <div class="card-body">
                    
                        {% if money_weekly %}
                            <h3>{{money_weekly}} zł</h3>
                        {% else %}
                            No money.
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}