{% extends 'base.html' %}
{% block title %}Student list{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h1>All students</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            {% for student in student_list %}
                            <tr>
                                <td>{{ student }}</td>
                                <td><a href="{{ student.get_absolute_url }}">Show</a></td>
                                <td><a href="{% url 'students-edit' student.id %}">Edit</a></td>
                                <td><a href="{% url 'students-delete' student.id %}">Delete</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>No students yet.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}