<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Poniższa Polityka Prywatności opisuje kwestie związane z korzystaniem z portalu https://krajewski.herokuapp.com/ (dalej jako: „Portal”).

Naszym celem jest zapewnienie Państwu poczucia bezpieczeństwa na naszym Portalu, dlatego też Państwa prywatność i ochrona danych osobowych są dla nas bardzo ważne. Prosimy o staranne zapoznanie się z poniższym podsumowaniem, z którego dowiedzą się Państwo w jaki sposób działa nasz Portal. Zapewniamy, że Państwa dane będą przetwarzane w sposób przejrzysty i uczciwy, oraz że dołożymy wszelkich starań, aby były traktowane z zachowaniem ostrożności i odpowiedzialnie.

Poniższa Polityka prywatności ma na celu poinformowanie o sposobie wykorzystywania przez nas Państwa danych osobowych, względem których spełniamy wszystkie wymogi Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 UE z dnia 27 kwietnia 2016 r. (dalej jako: „RODO”).

1. Dane Administratora
Administratorem Państwa danych osobowych w rozumieniu RODO, jest Jakub Krajewski. W sprawach dotyczących ochrony danych osobowych można się skontaktować z Administratorem także za pośrednictwem adresu email jakubpkrajewski@gmail.com.

2. Nie przetwarzamy danych osobowych

3. Nie przekazujemy danych osobowych

4. Okres przechowywania danych osobowych
Przetwarzamy Państwa dane osobowe jedynie przez okres niezbędny do spełnienia celu ich przechowywania lub dopóki jest to od nas wymagane zgodnie z prawem, w szczególności do momentu przedawnienia ewentualnych roszczeń lub wygaśnięcia obowiązku archiwizacji wynikającego z przepisów prawa, w tym obowiązku dotyczącego przechowywania dokumentów księgowych.

W przypadku przetwarzania danych osobowych w celu świadczenia usługi newsletter, Państwa dane osobowe będą przetwarzane przez okres niezbędny do świadczenia tej usługi, do czasu rezygnacji z niej przez Państwa.

W razie przetwarzania danych osobowych w oparciu o wyrażoną przez Państwa zgodę, Państwa dane będą przechowywane do momentu jej wycofania. W każdej chwili istnieje możliwość wycofania zgód wyrażonych w serwisie, w tym zgody na przetwarzanie danych w celach marketingowych podmiotów współpracujących z Administratorem. Odwołanie zgody na przetwarzanie nie będzie miało wpływu na zgodność z prawem przetwarzania, którego dokonano przed jej wycofaniem.

W przypadku przetwarzania Państwa danych na podstawie prawnie uzasadnionego interesu administratora, Administrator przestanie wcześniej przetwarzać dane jeżeli zgłosi Pani/Pan sprzeciw wobec przetwarzania danych.

5. Przysługujące prawa
Prawo dostępu do danych
Mają Państwo prawo uzyskać informację odnośnie przechowywanych przez nas danych osobowych na Państwa temat, w tym kopię tych danych.

Prawo do sprostowania danych
Mają Państwo prawo żądania sprostowania Państwa danych osobowych, które są nieprawidłowe. Z uwzględnieniem celów przetwarzania mają Państwo prawo żądania uzupełnienia niekompletnych danych osobowych, w tym poprzez przedstawienie dodatkowego oświadczenia.

Prawo do usunięcia danych
Mają Państwo prawo domagać się usunięcia Państwa danych osobowych przechowywanych przez nas w następujących przypadkach:

Państwa dane osobowe nie są już niezbędne do celów, w których zostały zebrane,
cofnęliście Państwo zgodę , na której opiera się przetwarzanie i nie ma innej podstawy prawnej przetwarzania,
wnieśliście Państwo sprzeciw wobec przetwarzania i nie występują nadrzędne prawnie uzasadnione podstawy przetwarzania lub sprzeciw dotyczy przetwarzania danych w celach marketingu bezpośredniego,
dane osobowe były przetwarzane niezgodnie z prawem,
dane osobowe muszą zostać usunięte w celu wywiązania się z obowiązku prawnego przewidzianego w prawie Unii lub prawie krajowym,
dane osobowe zostały zebrane w związku z oferowaniem usług społeczeństwa informacyjnego, o których mowa w art. 8 ust. 1 RODO.
Prawo do przenoszenia danych
Mają Państwo prawo otrzymać w ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego dane osobowe dotyczące Państwa, które nam dostarczyliście, jeżeli przetwarzanie tych danych odbywa się na podstawie zgody lub umowy oraz w sposób zautomatyzowany.
Jeżeli domagają się Państwo przesłania tych danych do innego administratora danych, zostanie to zrealizowane, o ile istnieje taka możliwość techniczna.

Prawo ograniczenia przetwarzania danych
Mają Państwo prawo zażądać, aby przetwarzanie Państwa danych osobowych zostało ograniczone, w następujących przypadkach:

kwestionują Państwo prawidłowość danych osobowych – na okres pozwalający nam sprawdzić prawidłowość tych danych,
przetwarzanie jest niezgodne z prawem, a Państwo sprzeciwiacie się usunięciu danych osobowych, żądając w zamian ograniczenia ich wykorzystywania,
nie potrzebujemy już danych osobowych do celów przetwarzania, ale są one Państwu potrzebne do ustalenia, dochodzenia lub obrony roszczeń,
wnieśliście Państwo sprzeciw na mocy art. 21 ust. 1 wobec przetwarzania – do czasu stwierdzenia, czy prawnie uzasadnione podstawy po stronie administratora są nadrzędne wobec podstaw sprzeciwu.
Prawo do wniesienia sprzeciwu wobec przetwarzania
Jeżeli Państwa dane osobowe są przetwarzane na podstawie prawnie uzasadnionego interesu administratora, mają Państwo prawo do sprzeciwu w dowolnym czasie wobec przetwarzania, zgodnie z art. 21 RODO.

Prawo do wycofania zgody
Mają Państwo prawo do wycofania wyrażonej zgody na przetwarzanie danych osobowych w dowolnej chwili. Odwołanie zgody na przetwarzanie nie będzie miało wpływu na zgodność z prawem przetwarzania, którego dokonano przed jej wycofaniem.

Jeśli chcą Państwo skorzystać z przysługujących Państwu praw prosimy o przesłanie do nas wiadomości na adres: jakubpkrajewski@gmail.com.

Bezpieczeństwo danych osobowych jest dla nas priorytetem, jeśli jednak uznają Państwo, że przetwarzając Państwu dane osobowe naruszamy przepisy RODO, mają Państwo prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych.

6. Zmiany w Polityce prywatności
W celu zapewnienia, iż Polityka prywatności Portalu spełnia przez cały czas aktualne wymogi nałożone w przepisach prawa, zastrzegamy sobie prawo do wnoszenia do niej zmian w dowolnym czasie. Powyższe ma również zastosowanie w przypadkach, gdy Polityka prywatności wymaga zmian w celu objęcia nią nowych lub zmienionych produktów lub usług Portalu.
</body>
</html>