{% extends 'base.html' %}
{% block title %}{{ student }}'s informations{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mt-4">
        <div class="card-header">
          <h2>{{ student }}</h2>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>Adress</b></td>
                <td>{{ student.address }}</td>
              </tr>
              <tr>
                <td><b>Edu level</b></td>
                <td>{{ student.education_level }}</td>
              </tr>
              <tr>
                <td><b>Phone</b></td>
                <td>{{ student.phone_number }}</td>
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>{{ student.email }}</td>
              </tr>
              <tr>
                <td><b>Discord</b></td>
                <td>{{ student.discord_nick }}</td>
              </tr>
              <tr>
                <td><b>Facebook</b></td>
                <td><a href="{{ student.facebook_profile }}">{{ student.facebook_profile }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card mt-4 mb-4">
        <div class="card-header">
          <h2>Missing payments</h2>
        </div>
        <div class="card-body">
          {% if total_missing_payment %}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Lesson date</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for payment in payments %}
              <tr>
                <th scope="row">{{ payment.id }}</th>
                <td>{{ payment.date }}</td>
                <td>{{ payment.amount }} zł</td>
                <td>
                  <form action="{% url 'change-payment-status' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path|urlencode }}" name="redirect_back_path">
                    <input type="hidden" value="{{ payment.id }}" name="id_payment">
                    <input type="submit" value="Submit">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Total missing payment: {{total_missing_payment}} zł</b></li>
          </ul>
          {% else %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Everything paid :)</b></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}